# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Model files
models/*.pkl
vectorizer/*.pkl

# IDE files
.vscode/
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# Python environment files
.env

# Distribution files
build/
dist/
*.egg-info/

# Logs
*.log
